* {
    box-sizing: border-box;
}

@media (min-width: 600px) {
    header {
        line-height: 2;
    }
}

@media (max-width: 1024px) {
    header {
        line-height: 3;
    }
}


body {
    background-color: #e2cda6;
    color: #000000;
}

header {
    background-image: url(Sand.jpg);
    background-color: 100% 100%;
    font-weight: bold;
    line-height: 3;
    text-indent: 1em;
    font-size: 200%;
    transition: font-size 0.25s;
}

header:hover {
    font-size: 205%;
}

h2 {
    font-size: 250%;
}

nav {
    background-color: #c5a985;
    color: black;
    margin: 0;
    padding: 1mm;
    transition: font-size 0.25s;
}

nav:hover {
    font-size: 105%;
}

footer {
    background-color: #817142;
    color: #FFFFFF;
}

div.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    padding: 2em;
}

.onehalf {
    float: left;
    width: 50%;
    padding-left: 2em;
    padding-right: 2em;
}

table {
    border: 1px solid;
    margin-bottom: 1em;
    min-width: 400px;
    border-collapse: collapse;
}

td {
    padding: 0.5em;
    border: 1px solid;
}

th {
    padding: 0.5em;
    border: 1px solid;
}

form {
    display: flex;
    flex-flow: column nowrap;

    width: 60%;
    max-width: 40em;
    gap: 1em;
    column-count: 2;
    column-width: 9em;
    grid-auto-rows: auto;
}
